merge and compile.bat
Module/module_info.py
ID/ID_animations.py
ID/ID_factions.py
ID/ID_info_pages.py
ID/ID_items.py
ID/ID_map_icons.py
ID/ID_menus.py
ID/ID_meshes.py
ID/ID_mission_templates.py
ID/ID_music.py
ID/ID_particle_systems.py
ID/ID_parties.py
ID/ID_party_templates.py
ID/ID_postfx.py
ID/ID_postfx_params.py
ID/ID_presentations.py
ID/ID_quests.py
ID/ID_scene_props.py
ID/ID_scenes.py
ID/ID_scripts.py
ID/ID_skills.py
ID/ID_sounds.py
ID/ID_strings.py
ID/ID_tableau_materials.py
ID/ID_troops.py

